
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

input {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

.formTitle {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #222;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.formbody {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  width: 100vw;
  height: auto;
  background: url("../../images/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 75px 0;
  box-sizing: border-box;
}

.signup {
  width: 400px;
  margin: 0 auto;
}

.signupContent {
  background: #fff;
  border-radius: 10px;
}

.SignupFormGroup {
  overflow: hidden;
  margin-bottom: 20px;
}

.formInput {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222;
}

.formInput :focus {
  border: 1px solid transparent;
  border-image-slice: 1;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.formInput :focus::-webkit-input-placeholder {
  color: #222;
}

.formInput :focus::-moz-placeholder {
  color: #222;
}

.formInput :focus:-ms-input-placeholder {
  color: #222;
}

.formInput :focus:-moz-placeholder {
  color: #222;
}

.formSubmitButton {
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: blue;
}

.loginhere {
  color: #555;
  font-weight: 500;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 5px;
}

.loginhere-link {
  font-weight: 700;
  color: #222;
}

@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .signup-content {
    padding: 50px 25px;
  }
}
